<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="K2Spy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures=false;Switch.UseLegacyAccessibilityFeatures.2=false;Switch.UseLegacyAccessibilityFeatures.3=true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <K2Spy.Properties.Settings>
   <setting name="InvokeOnUIThreadActionQueueTickInterval" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="PopulateControlsInTreeView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PreserveInvalidCategoryEntriesInTreeView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PopulateServiceObjectsInTreeView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PopulateSmartMethodsAndPropertiesInTreeView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PopulateControlsInUsesAnalysis" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IgnoreExceptionsInGetUsesInformationAsync" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PopulateSmartMethodsAndPropertiesInUsesAnalysis"
    serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KeepXPathDocumentsInMemory" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConnectionCachePingFrequencyInMiliseconds" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="ExtractFormattedDefinitions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PopulateWorkflowsInTreeView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExperimentalDelayedInitializationOfTreeView" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExternalServiceInstanceResourcesProperties" serializeAs="String">
    <value>Server|Database
sqlconnection
assembly full name
service endpoint url
webservice url
descriptor location</value>
   </setting>
  </K2Spy.Properties.Settings>
 </userSettings>
</configuration>
